.main-page-section {
  background-color: rgb(158, 158, 158);
}
.sliders {
  width: 50%;
  margin: 0 auto;
}
.sliders-items {
  background-color: aqua;
}

.sliders-items .slider-card {
  border: 1px solid black;
}