@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Expletus+Sans&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Inter", sans-serif; */
  font-family: "Open Sans", sans-serif;

  /* font-family: 'Expletus Sans', cursive; */
}

html,
body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.main-page-section {
  background-color: #ffffff;
  /* orange #F7A800
  blue #00AEEF
  super dark grey #1C2227
  dark gray #3B3F44 */
}
/*? NAV SECTION */
.main-page-section nav {
  background-color: #0cb349;
  width: 100%;
  padding: 2rem 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
}
.main-page-section nav .logo {
  font-size: 2rem;
  font-family: "Expletus Sans", cursive;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 4px;
}

.main-page-section .reg-log-container {
  /* background-color: aqua; */
  width: 15%;
  display: flex;
  justify-content: space-between;
}
.main-page-section .reg-log-container a {
  font-size: 1.2rem;
  /* font-weight: 600; */
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 5px 15px;
  border-radius: 20px;
  opacity: 0.8;
  transition: 0.2s ease;
}
.main-page-section .reg-log-container a:hover {
  opacity: 1;
}

/*! HEADER SECTION */
.main-page-section header {
  display: grid;
  place-items: center;
  padding-top: 100px;
}

.main-page-section header img {
  width: 20%;
}

.main-page-section header .type {
  display: inline-flex;
}

.main-page-section header .type span {
  word-break: break-all;
  height: 1.5em;
  width: 0%;
  overflow: hidden;
  animation: typingAnim 4s linear infinite alternate;
}
.main-page-section header .type span:before {
  content: " ";
  display: inline-block;
}

@keyframes typingAnim {
  90%,
  100% {
    width: 100%;
  }
}

.main-page-section header h1 {
  font-size: 2rem;
  margin: 20px 0;
}

.main-page-section header h3 {
  font-size: 1.3rem;
  margin: 20px 0;
}
.main-page-section header div {
  background-color: #0cb349;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-page-section header div a {
  color: #000000;
  font-size: 1.3rem;
  border: 1px solid #000000;
  border-radius: 15px;
  padding: 10px 15px;
  background-color: #fffb00;
  font-weight: 400;
  transition: 0.2s ease;
}
.main-page-section header div a:hover {
  background-color: transparent;
  color: #fff;
  border-color: #fff;
}

/** SMALL ABOUT SECTION */
.small-about-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.small-about-section p {
  width: 50%;
  margin: 60px 0;
  /* background-color: #fffb00; */
  font-size: 1.5rem;
  line-height: 35px;
  color: black;
  text-align: center;
}
.small-about-section h3 {
  font-size: 2rem;
  margin: 30px 0;
}

.small-about-section ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.small-about-section ul li img {
  width: 200px; /* Set a fixed width */
  /* height: 40%; */
  margin: 40px;
  object-fit: cover; /* Scale the image to fit within the dimensions while maintaining aspect ratio */
}

.horizontal-line-big {
  width: 100%;
  /* background-color: black; */
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  height: 1px;
  margin: 60px 0;
}

.horizontal-line-med {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  height: 1px;
  margin: 30px 0;
}

/*? WEBSITE FEATURES SECTION */
.website-features {
  width: 100%;
  /* background-color: #fffb00; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.website-features h2 {
  font-size: 2rem;
  margin: 30px 0;
}

.website-features .features-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 0 50px; */
  /* background-color: #0cb349; */
  /* width: 30%; */
  margin: 50px;
  padding: 0 100px;
}
.website-features .features-container div {
  /* background-color: #0cb349; */
  width: 20%;
  /* margin: 0 40px; */
}
.website-features .features-container div h3 {
  font-size: 2rem;
  margin-bottom: 10px;
  line-height: 40px;
}
.website-features .features-container div i {
  color: #0cb349;
}

.website-features .features-container div p {
  font-size: 1rem;
  color: black;
  line-height: 30px;
}

/*! SLIDERS */
.sliders-section {
  background-color: #fff;
  width: 100%;
}

.sliders {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
}

.sliders h2 {
  text-align: center;
  color: #000;
  margin: 40px 0;
  font-size: 2rem;
}

.sliders-items {
  /* background-color: aqua; */
  margin-bottom: 40px;
  border: 1px solid rgba(0, 0, 0, 0.281);
  border-radius: 10px;
}

.sliders-items .slider-card {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sliders-items .slider-card img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 20px 0;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.548);
}
.sliders-items .slider-card h3 {
  color: black;
  font-size: 1.5rem;
  margin: 10px 0;
}

.sliders-items .slider-card p {
  color: black;
  font-size: 1.1rem;
  margin: 20px 0;
}

/** SUBSCRIBE SECTION */
.subscribe-section {
  width: 100%;
  background-color: #0cb349;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subscribe-section h2 {
  font-size: 2rem;
  color: rgb(255, 255, 255);
  margin: 20px 0;
}

.subscribe-section span {
  font-family: "Expletus Sans", cursive;
}

.subscribe-section div {
  border: 2px solid rgb(255, 255, 255);
  margin: 20px 0;
  width: 25%;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.subscribe-section div h3 {
  line-height: 40px;
  font-size: 1.4rem;
  color: #fff;
}
.subscribe-section div ul li {
  list-style: square;
  font-size: 1.1rem;
  color: #fff;
  line-height: 35px;
}

.subscribe-section div a {
  color: white;
  font-size: 1.3rem;
  border: 1px solid #fff;
  /* margin-top: 10px auto; */
  margin: 10px auto 0;
  padding: 8px 16px;
  border-radius: 10px;
  transition: 0.3s ease;
  font-weight: 600;
}
.subscribe-section div a:hover {
  background-color: #fff;
  color: #0cb349;
}

/*? FOOTER */
footer {
  width: 100%;
  background-color: #d3d3d3;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding: 4rem;
}

footer .footer-container {
  display: flex;
  /* flex-direction: column; */
  /* width: 500px; */
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

footer .footer-container div {
  width: 30%;
}
footer .footer-container div h4 {
  font-size: 1.3rem;
  color: black;
  line-height: 40px;
}

footer .footer-container div p {
  line-height: 30px;
  font-size: 1rem;
}

footer .footer-container div a {
  color: black;
}

/*! Vacancies PAGE */
.vacancies-section-page {
  width: 100%;
  background-color: #fff;
}

.vacancies-section-page nav {
  background-color: #0cb349;
  width: 100%;
  padding: 2rem 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.vacancies-section-page nav .main-links {
  /* background-color: #fff; */
}
.vacancies-section-page nav .main-links a {
  margin-right: 20px;
  color: #fff;
  font-size: 1.4rem;
  border-bottom: 2px solid white;
  transition: 0.2s ease;
}

.vacancies-section-page nav .main-links a:hover {
  text-shadow: 0px 0px 15px rgb(255, 255, 255);
}

.vacancies-section-page nav .main-links .logo {
  font-family: "Expletus Sans", cursive;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 4px;
  border: transparent;
}

.vacancies-section-page nav .main-links .logo:hover {
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0);
}

.vacancies-section-page .dropdown-menu .user-name-btn {
  font-size: 1.3rem;
  padding: 5px 10px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  transition: 0.2s ease;
}

.vacancies-section-page .dropdown-menu .user-name-btn:hover {
  background-color: #fff;
  color: #0cb349;
}

.vacancies-section-page .dropdown-menu ul {
  background-color: #f8f8f8;
  position: absolute;
  z-index: 2;
  margin-top: 2px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  margin-left: 0px;
  
}
.vacancies-section-page .dropdown-menu ul li {
  padding: 10px;
  text-align: center;
}
.vacancies-section-page .dropdown-menu ul li a, .vacancies-section-page .dropdown-menu ul li button  {
  font-size: 1.2rem;
  /* margin: 20px 0; */
  color: #000;
  /* padding: 10px; */
  border: none;
  background-color: transparent;
}


.vacancies-section-page .dropdown-menu ul li a:hover, .vacancies-section-page .dropdown-menu ul li button:hover {
  text-shadow: 0px 0px 5px black;
}
/* MAINA VAC SECTION */
.main-vacancies {
  /* background-color: #d3d3d3; */
  width: 100%;
  min-height: 80vh;
  padding: 4rem 8rem;
}

.main-vacancies .title {
  font-size: 2rem;
  /* margin: 0 0 30px; */
  color: black;
}

.main-vacancies .main-vacancies-container {
  display: flex;
  /* background-color: #0cb349; */
  /* align-items: center; */
  justify-content: space-between;
}

.main-vacancies-container .vacancies-container {
  /* background-color: #fffb00; */
  /* padding: 0 4rem; */
  width: 70%;
}

.main-vacancies-container .vacancies-container .vacancy-card {
  /* background-color: #0cb349; */
  border-radius: 20px;
  padding: 1rem 2rem;
  margin: 30px 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: 0.2s ease;
}

.main-vacancies-container .vacancies-container .vacancy-card:hover {
  box-shadow: 0 0 20px rgb(0, 0, 0);
}

.main-vacancies-container .vacancies-container .vacancy-card .main-vac-info {
  display: flex;
  flex-direction: column;
  /* background-color: #000000; */
}
/* .vac-main-info
  .saved-vac {
  position: absolute;
  right: 0;
  background-color: #dbdbdb;
}

.vac-main-info
  .saved-vac:hover {
  cursor: pointer;
} */

.main-vacancies-container .vacancies-container .vacancy-card .main-vac-info h3 {
  color: #119ae9;
  font-size: 1.5rem;
  font-size: 500;
  margin: 20px 0;
}
.main-vacancies-container
  .vacancies-container
  .vacancy-card
  .main-vac-info
  h3:hover {
  color: #0c76b3;
  cursor: pointer;
}

.main-vacancies-container .vacancies-container .vacancy-card .main-vac-info h2 {
  color: #0cb349;
  margin: 10px 0;
}
.main-vacancies-container .vacancies-container .vacancy-card .main-vac-info p {
  align-self: self-end;
  margin: 10px 0;
  opacity: 0.6;
  color: black;
}

.main-vacancies-container .vacancies-container .vacancy-card p {
  font-size: 1.2rem;
  color: black;
  line-height: 30px;
  margin-bottom: 10px;
}

.main-vacancies-container .vacancies-container .vacancy-card a {
  /* border: 1px solid black; */
  /* padding: 10px 0; */
  color: #119ae9;
  font-weight: 500;
  font-size: 1.3rem;
  transition: 0.3s ease;
  /* margin-bottom: 20px; */
}
.main-vacancies-container .vacancies-container .vacancy-card a:hover {
  color: #0c76b3;
}
.main-vacancies-container
  .vacancies-container
  .vacancy-card
  .vac-secondary-info {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.main-vacancies-container
  .vacancies-container
  .vacancy-card
  .vac-secondary-info
  h4,
.main-vacancies-container
  .vacancies-container
  .vacancy-card
  .vac-secondary-info
  span {
  color: black;
  font-weight: 400;
  opacity: 0.7;
}

.main-vacancies-container .vacancies-container .pagination button {
  /* background-color: #000; */
  margin-left: 10px;
  font-size: 1.3rem;
  padding: 5px 1px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px;
}

.main-vacancies-container .vacancies-container .pagination .active {
  background-color: #119ae9;
  color: #fff;
  border-color: white;
}

.main-vacancies-container .filters-container {
  /* background-color: aqua; */
  width: 25%;
  border-radius: 20px;
  padding: 4rem 2rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  height: 100%;
  /* display: flex;
  flex-direction: column; */
}

.main-vacancies-container .filters-container .filter-box {
  display: flex;
  flex-direction: column;
}
.main-vacancies-container .filters-container .filter-box label {
  font-size: 1.3rem;
  color: black;
  margin: 0 0 10px;
}

.main-vacancies-container .filters-container .filter-box input,
.filter-box select {
  font-size: 1.2rem;
  padding: 5px;
  width: 80%;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0 0 10px;
}

.main-vacancies-container .filters-container .reset-filters-btn {
  font-size: 1.2rem;
  background-color: rgba(255, 0, 0, 0.3);
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px 10px;
  margin-top: 20px;
  transition: 0.3s ease;
  cursor: pointer;
}
.main-vacancies-container .filters-container .reset-filters-btn:hover {
  background-color: rgba(255, 0, 0, 1);
}

.not-found-vac {
  /* background-color: #0c76b3; */
  margin: 20px 0;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* SOLO VAC SECTION */
.solo-vacancy-section nav {
  background-color: #0cb349;
  width: 100%;
  padding: 2rem 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.solo-vacancy-section nav .main-links a {
  margin-right: 20px;
  color: #fff;
  font-size: 1.4rem;
  border-bottom: 2px solid white;
  transition: 0.2s ease;
}

.solo-vacancy-section nav .main-links a:hover {
  text-shadow: 0px 0px 15px rgb(255, 255, 255);
}

.solo-vacancy-section nav .main-links .logo {
  font-family: "Expletus Sans", cursive;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 4px;
  border: transparent;
}

.solo-vacancy-section nav .main-links .logo:hover {
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0);
}

.solo-vacancy-section .dropdown-menu .user-name-btn {
  font-size: 1.3rem;
  padding: 5px 10px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  transition: 0.2s ease;
}

.solo-vacancy-section .dropdown-menu .user-name-btn:hover {
  background-color: #fff;
  color: #0cb349;
}

.solo-vacancy-section .dropdown-menu ul {
  background-color: #f8f8f8;
  position: absolute;
  z-index: 2;
  margin-top: 2px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  margin-left: -12px;
}
.solo-vacancy-section .dropdown-menu ul li {
  padding: 10px;
  text-align: center;
}
.solo-vacancy-section .dropdown-menu ul li a,.solo-vacancy-section .dropdown-menu ul li button {
  font-size: 1.2rem;
  /* margin: 20px 0; */
  color: #000;
  /* padding: 10px; */
  background-color: transparent;
  border: none;
}
.solo-vacancy-section .dropdown-menu ul li a:hover, .solo-vacancy-section .dropdown-menu ul li button:hover {
  text-shadow: 0px 0px 5px black;
}
/* MAIN Vacancy SECTION */
.solo-vacancy-section .vacancy-container {
  min-height: 110vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem;
  position: relative;
  /* background-color: #000000; */
  /* margin: 0 auto; */
}

.solo-vacancy-section .vacancy-container .vac-main-info {
  display: flex;
  flex-direction: column;
  /* background-color: #0c76b3; */
  position: relative;
}

.solo-vacancy-section .vacancy-container .vac-main-info .saved-vac {
  position: absolute;
  left: -50px;
  top: 27px;
  /* background-color: #dbdbdb; */
  font-size: 1.5rem;
}

.solo-vacancy-section .vacancy-container .vac-main-info .saved-vac:hover {
  cursor: pointer;
}

.solo-vacancy-section .vacancy-container .vac-main-info h1 {
  margin: 20px 0;
  font-size: 2rem;
  color: black;
}
.solo-vacancy-section .vacancy-container .vac-main-info h2 {
  font-size: 1.5rem;
  color: #0cb349;
}

.solo-vacancy-section .vacancy-container .vac-main-info .creation-data {
  /* align-self: self-end; */
  margin: 20px 0;
  opacity: 0.5;
}
.solo-vacancy-section .vacancy-container .vac-main-info .description-p {
  width: 100%;
  margin: 20px 0;
  line-height: 35px;
  font-size: 1.2rem;
  color: black;
}

.solo-vacancy-section .vac-container {
  display: flex;
  /* background-color: #fffb00; */
  justify-content: space-between;
  align-items: center;
  /* background-color: #0c76b3; */
  width: 70%;
  margin: 0 auto;
}

.solo-vacancy-section .apply-btn {
  width: 20%;
  font-size: 1.2rem;
  background-color: #0cb349;
  border: 1px solid black;
  border-radius: 10px;
  padding: 8px 16px;
  transition: 0.3s ease;
}

.solo-vacancy-section .apply-btn:hover {
  background-color: #06e056;
}

.solo-vacancy-section .vacancy-container form {
  /* background-color: #0cb34931; */
  /* position: absolute;
  bottom: -100px; */
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 5px;
  margin: 10px 0;
  border-radius: 10px;
}

.solo-vacancy-section .vacancy-container form label,
.vacancy-container form input {
  font-size: 1.1rem;
  color: black;
}

.solo-vacancy-section .vacancy-container form label {
  margin: 10px 0;
  font-weight: 600;
}
.solo-vacancy-section .vacancy-container form input {
  padding: 5px;
  width: 45%;
  border-radius: 5px;
  border: 1px solid black;
  outline: none;
}

.solo-vacancy-section .vacancy-container form textarea {
  width: 60%;
  resize: none;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
  outline: none;
  font-size: 1.1rem;
}

.solo-vacancy-section .vacancy-container form #resume-input {
  border: none;
}

.solo-vacancy-section .vacancy-container .send-apply-form {
  margin-bottom: 5px;
  width: 20%;
  background-color: #0cb349;
  font-size: 1.2rem;
  border: 1px solid black;
  border-radius: 10px;
  padding: 8px 16px;
  transition: 0.3s ease;
}
.solo-vacancy-section .vacancy-container .send-apply-form:hpver {
  background-color: #06e056;
}

.solo-vacancy-section .vacancy-container .cancel-btn {
  margin-bottom: 5px;
  width: 20%;
  background-color: #ff00008e;
  font-size: 1.2rem;
  border: 1px solid black;
  border-radius: 10px;
  padding: 8px 16px;
  transition: 0.3s ease;
}
.solo-vacancy-section .vac-container .vac-secondary-info {
  /* background-color: azure; */
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  margin: 0 60px;
  border-radius: 10px;
  font-size: 1.3rem;
  line-height: 40px;
  /* font-weight: 400; */
}

/* LOGINN */
.login nav {
  background-color: #0cb349;
  width: 100%;
  padding: 2rem 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* position: fixed; */
  z-index: 10;
}

.login nav .logo {
  font-size: 2rem;
  font-family: "Expletus Sans", cursive;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 4px;
}

.login .reg-log-container {
  /* background-color: aqua; */
  width: 15%;
  display: flex;
  justify-content: space-between;
}

.login .reg-log-container a {
  font-size: 1.2rem;
  /* font-weight: 600; */
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 5px 15px;
  border-radius: 20px;
  opacity: 0.8;
  transition: 0.2s ease;
}

.login .reg-log-container a:hover {
  opacity: 1;
}

.login .login-section {
  /* background-color: #06e056; */
  min-height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login .login-section .login-container {
  /* background-color: #c98989; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 300px;
}

.login .login-section .login-container h2 {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 20px 0;
}
.login .login-section .login-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.login .login-section .login-container form label {
  font-size: 1.5rem;
  margin: 10px 0;
  text-align: center;
  font-weight: 600;
}

.login .login-section .login-container form input {
  /* width: 100%; */
  /* text-align: center; */
  /* margin: 0 auto; */
  outline: none;
  border: 1px solid black;
  font-size: 1.4rem;
  padding: 10px 15px;
  border-radius: 10px;
}

.login .login-section .login-container form input:focus {
  outline: 1px solid #0cb349;
  border-color: #0cb349;
}
.login .login-section .login-container form #pass-input {
  /* border-right: none; */
  width: 100%;
}

.div-input {
  position: relative;
}

.login .login-section .login-container form .password-icon {
  /* border: 1px solid black; */
  margin-left: 10px;
  z-index: 2;
  font-size: 2rem;
  position: absolute;
  top: 3px;
  /* background-color: #119ae9; */
}

.login .login-section .login-container form .form-submit-login {
  margin: 20px auto;
  font-size: 1.2rem;
  background-color: #0cb349;
}
.login .login-section .login-container form .form-submit-login:hover {
  background-color: #06e056;
}

.login .login-section .login-container .error-message {
color: red;
}

/*? SAVED VACANCIES */
.saved-vacancies-section {

}

.saved-vacancies-section nav {
  background-color: #0cb349;
  width: 100%;
  padding: 2rem 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.saved-vacancies-section nav .main-links a {
  margin-right: 20px;
  color: #fff;
  font-size: 1.4rem;
  border-bottom: 2px solid white;
  transition: 0.2s ease;
}

.saved-vacancies-section nav .main-links a:hover {
  text-shadow: 0px 0px 15px rgb(255, 255, 255);
}

.saved-vacancies-section nav .main-links .logo {
  font-family: "Expletus Sans", cursive;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 4px;
  border: transparent;
}

.saved-vacancies-section nav .main-links .logo:hover {
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0);
}

.saved-vacancies-section .dropdown-menu .user-name-btn {
  font-size: 1.3rem;
  padding: 5px 10px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  transition: 0.2s ease;
}

.saved-vacancies-section .dropdown-menu .user-name-btn:hover {
  background-color: #fff;
  color: #0cb349;
}

.saved-vacancies-section .dropdown-menu ul {
  background-color: #f8f8f8;
  position: absolute;
  z-index: 2;
  margin-top: 2px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  margin-left: -12px;
}
.saved-vacancies-section .dropdown-menu ul li {
  padding: 10px;
  text-align: center;
}
.saved-vacancies-section .dropdown-menu ul li a, .saved-vacancies-section .dropdown-menu ul li button {
  font-size: 1.2rem;
  /* margin: 20px 0; */
  color: #000;
  /* padding: 10px; */
  background-color: transparent;
  border: none;
}
.saved-vacancies-section .dropdown-menu ul li a:hover, .saved-vacancies-section .dropdown-menu ul li button:hover {
  text-shadow: 0px 0px 5px black;
}

/* !SAVED MAIN */
.saved-vacancies-section .main-saved-sections {
  /* background-color: #0c76b3; */
  min-height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 4rem 8rem;
}

.saved-vacancies-section .main-saved-sections h2 {
  font-size: 2rem;
  /* margin: 0 0 30px; */
  color: black;
}

.saved-vacancies-section .main-saved-sections  .saved-vacancy {
  background-color: #0cb349;
  padding: 1rem 2rem;
  color: white;
  font-size: 1.2rem;
  border-radius: 20px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.saved-vacancies-section .main-saved-sections  .saved-vacancy a {
  color: white;
}

.saved-vacancies-section .main-saved-sections  .saved-vacancy i{
  transition: .3s ease;
}
.saved-vacancies-section .main-saved-sections  .saved-vacancy i:hover {
  text-shadow: 0 0 20px red;
}